<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Tick Math</h1>

    <form method="POST" action="/">
      <p>{{num1}} + {{num2}} = <input name="sum" /></p>
    </form>

    <img src="https://i.ytimg.com/vi/X9iN3wiLM8o/hqdefault.jpg" />

    <p style="color: green;">Correct count: {{correctCount}}</p>
    <p style="color: red;">Incorrect count: {{incorrectCount}}</p>

    <p><a href="/history">View your victories and abject failures.</p>

  </body>
</html>
